/* style.css */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.event-box {
    border: 2px solid #4d4d4d;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: #333;
    width: 300px;
    text-align: center;
    color: #fff;
}

h2 {
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    color: #bb86fc;
}

a {
    color: #03a9f4;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

a:hover {
    text-decoration: underline;
    color: #1e88e5;
}
